@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="web design Arizona, web development services Scottsdale, website design Maricopa, graphic design companies tempe area, mobile friendly website designers Buckeye AZ" />
    <meta name="author" content="Taylor Bishop" />
    <meta name="description" content="Contact details for Akira Web Solutions, Phoenix AZ: web design and responsive website development for US and Canada " />

    Page.Title = "Contact Us";
}
<meta name="description" content="We know finding the perfect fit and nursing service for your home and convenience can be wearisome. Well, worry no more, All Hearts Together is here to assist in your recovery and home care needs!" />
<meta name="keywords" content="All Hearts Together Nursing Care LLC., Home Care Agency Phoenix, Personalized Bathing Avondale, Ostomy and Colostomy Glendale, meal planning Peoria, injection and shot therapy Tolleson, exercise and nutrition Waddell, tube feeding West Valley, Diabetes Management North Valley, Catheter and Wound Care South Valley, private duty nursing Buckeye, nursing Laveen, Dedicated to adults and seniors El Mirage" />
<style>
    #body {
        background-image: url('Images/Background4.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        color: darkgoldenrod;
        font-size: 24px;
        padding: 50px;
    }
</style>
<br />
<h1 class="textSection" style="color:white; text-align:center;"> <span style="color:palevioletred; font-weight:bold;">ALL HEARTS TOGETHER NURSING CARE</span> CONTACT INFORMATION</h1>
<hr />
<div class="contactText" style="background:rgba(0,0,0,.7); ">
    <div style="width:100%;">
        <p class="textSection" style="padding-bottom:0px; padding-left:0px; padding-right:0px;">
            Whether you’re hoping to find some help at home for Mom and Dad or in need of respite care yourself, we know how important it is to find the right in home senior care provider for your loved one.
            We also know that your family likely has many questions about the ins and outs of home care services in the Greater Phoenix Area and surrounding area.
        </p>
        <p class="textSection" style="padding-top:0px;  padding-left:0px; padding-right:0px;">
            As one of the top-rated homecare providers in Phoenix, our friendly, knowledgeable staff is always available to assist you and to answer any questions you might have concerning  your home care needs.
            If you have questions about our local caregivers or our dedicated homecare services, please do not hesitate to contact us.<br /><br /> Simply us a call at <a href="tel:+16233005300" style="color:palevioletred; font-weight:bold;">(632) 300-5300</a> and we will be happy to help with all your senior care needs.
        </p>
        <p>
            Phone:
            <a href="tel:+16233005300" style="color: palevioletred;"><img src="~/Images/Phonepng.png" style="max-width:32px;" />(623)300-5300</a>
        </p>
        <p>
            Email:
            <a href="mailto:glennrichelle@gmail.com" style="color: palevioletred;">glennrichelle@gmail.com</a>
        </p>
    </div>
    <br />
    <div class="contactImages" style="text-align:center;">

        <img src="~/Images/Image1.jpeg" style=" max-height:225px; width:32%;" />
        <img src="~/Images/Image4.jpeg" style=" max-height:225px; width:32%;" />
        <img src="~/Images/Image2.jpeg" style=" max-height:225px; width:32%;" />
    </div>
</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1664.4837113431545!2d-112.07121763171858!3d33.450155264687986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b1218ab28b137%3A0x34ab224c5a5cc9af!2s125+N+2nd+St%2C+Phoenix%2C+AZ+85004!5e0!3m2!1sen!2sus!4v1522793753814" style="width:100%;" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>





<div>
    <a href="https://eldercare.com/registered-nurse-msn-inhome-private-duty-educator-veteran-owned-elder-care-phoenix-az">
        <img src="~/Images/ElderCareLogo.svg" style="width:30%;" />
    </a>

    <a href="https://www.linkedin.com/in/richelle-glenn-084127a5/">
        <img src="~/Images/linkedinlogo.png" style="width:30%;" />
    </a>
    <a href="https://www.facebook.com/richelle.glenn.75">
            <img src="~/Images/facebook.png" style="width:30%;" />
        </a>
    @*<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frichelle.glenn.75&width=0&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId" width="30%" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>*@
</div>


