@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<meta name="description" content="We know finding the perfect fit and nursing service for your home and convenience can be wearisome. Well, worry no more, All Hearts Together is here to assist in your recovery and home care needs!" />
<meta name="keywords" content="All Hearts Together Nursing Care LLC., Home Care Agency Phoenix, Personalized Bathing Avondale, Ostomy and Colostomy Glendale, meal planning Peoria, injection and shot therapy Tolleson, exercise and nutrition Waddell, tube feeding West Valley, Diabetes Management North Valley, Catheter and Wound Care South Valley, Toileting and Incontinence Buckeye, transitional supervision Laveen, support and companion care El Mirage" />
<style>
    #body {
        font-size: 24px;
        background-image: url('Images/Background1.jpeg'),url('Images/banner1.jpeg');
        background-repeat:no-repeat;
        background-position:0px 0px,0px 200px;
        background-size: contain;
        font-family: Aloe-Regular;
    }

    .sliding {
        display: none;
        opacity: 0.0;
        position: relative;
        margin-left: -120px;
        width: 100%;
    }
</style>
<br />

<div style="background:rgba(255,255,255,.7);">
    <h1 style="text-align:center; font-weight:bold; color:darkblue;"><u>In Home-Private Duty Nursing for Adults</u></h1>
    <div style="background:rgba(255,255,255,.7);">
        <p class="textSection">
            We know finding the perfect fit and nursing service for your home and convenience can be wearisome. Well, worry no more, All Hearts Together is here to assist in your recovery and home care needs!
        </p>
        <p class="textSection" style="padding-top:0;">
            At All Hearts Together we strive to provide evidenced based care, unparelleled attention to detail, expert customer service &amp; competent staff.
        </p>
        <p class="textSection" style="padding-top:0;">
            We will do everything possible to win your heart and engage your mind, body and spirit. With our prompt, professional and experienced nurses you are more likely to recover faster and recieve better care. We let you return to a normal life and gain peace of mind.
        </p>
        <p class="textSection" style="padding-top:0px;">
            For more information on All Hearts Together Nursing Care or our Experts, please click to visit our <a href="~/About" style="font-weight:bold;"><u>About Section</u></a>
        </p>
    </div>
    <h1 style="text-align:center; color:darkblue; font-weight:bold;"><u>Our Featured Nursing Expert</u></h1>
    <h1 style="text-align:center; "><img src="~/Images/Richelle3.jpg" style="max-width:500px; width:100%;" /></h1>
    <p style="font-size:18px; text-align:center;"><i>Richelle Glenn</i></p>
    <p style="font-size:16px; text-align:center;"><i>Registered Nurse, Master's Prepared &amp; Veteran with over 20 years experience.</i></p>
    <p class="textSection">
        Twenty-two years ago, Richelle started her career as a Navy Hospital Corpsman and enjoyed learning everything she could about nursing and medicine.
        Now, as a Master's Degree Registered Nurse, her goal is to offer flexible at home services to promote your independence and health as an adult and senior throughout the greater Phoenix area.
    </p>
    <h1 style="text-align:center; font-weight:bold; color:darkblue;"><u>Our Services Overview</u></h1>
    <hr />
    <div>
        <div style="background:rgba(255,255,255,.7); ">
            <h1 style="text-align:center; font-size:28px;">Our Services Include:</h1>

            <div style="width:100%; display:inline-flex;">
                <div style="width:50%; margin:auto;">
                    <ul>
                        <li class="one sliding"><a href="~/Services#Medication">&#9679; Medication Set-up, Education, Pick-up &amp; Refill services</a><br /><br /></li>
                        <li class="two sliding"><a href="~/Services#Personalized">&#9679; Personalized Bathing &amp; Grooming</a><br /><br /></li>
                        <li class="three sliding"><a href="~/Services#Skin">&#9679; Skin Health &amp; Hair Care</a><br /><br /></li>
                        <li class="four sliding"><a href="~/Services#Ostomy">&#9679; Ostomy &amp; Colostomy Management</a><br /><br /></li>
                        <li class="five sliding"><a href="~/Services#Meal">&#9679; Meal Planning and Preparation</a><br /><br /></li>
                        <li class="six sliding"><a href="~/Services#Injection">&#9679; Injection / Shot Teaching &amp; Therapy</a><br /><br /></li>
                        <li class="seven sliding"><a href="~/Services#Exercise">&#9679; Exercise &amp; Nutrition</a><br /><br /></li>
                    </ul>
                </div>
                <div style="width:50%; margin:auto;">
                    <ul>
                        <li class="eight sliding"><a href="~/Services#Tube">&#9679; Tube Feeding</></a><br /><br /></li>
                        <li class="nine sliding"><a href="~/Services#Diabetes">&#9679; Diabetes Management</a><br /><br /></li>
                        <li class="ten sliding"><a href="~/Services#Catheter">&#9679; Catheter &amp; Wound Care</a><br /><br /></li>
                        <li class="eleven sliding"><a href="~/Services#Toileting">&#9679; Toileting &amp; Incontinence</a><br /><br /></li>
                        <li class="twelve sliding"><a href="~/Services#Discharge">&#9679; Discharge / Transitional Supervision</a><br /><br /></li>
                        <li class="thirteen sliding"><a href="~/Services#Support">&#9679; Support &amp; Companion Care</a><br /><br /></li>
                        <li class="fourteen sliding"><a href="~/Services#Couples">&#9679; Couples Care</a><br /><br /></li>
                    </ul>
                </div>
            </div>

            @*SLIDESHOW*@
            <div>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width:1680px; text-align:center; background-color:lightpink;">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>

                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">

                            <p style="max-width:60%; margin:auto;">
                                "As a medically disabled Veteran, the monitoring by the VA and the assistance from the staff at All Hearts Together Nursing Care enables me to live at HOME!
                                Thank God for your nursing staff. I can't say enough good things about them. Richelle is the greatest." - <i>Robert</i>
                            </p>
                            <br /><br />
                        </div>
                        <div class="item" style="text-align:center;">
                            <p style="max-width:60%; margin:auto;">
                                "I received all the care I could possibly need to assist in my cardiac recovery. All Hearts Together went above and beyond! Now, I have recovered quicker than I could have imagined." - <i>Mary</i>
                            </p>
                            <br /><br /><br />
                        </div>
                        <div class="item" style="text-align:center;">
                            <p style="max-width:60%; margin:auto;">
                                "Richelle, was wonderful and a great assistance in helping me recover from this past flu season. I am grateful for her knowledge and expertise." - <i>Anna</i>
                            </p>
                            <br /><br /> <br />
                        </div>

                        <div class="item">
                            <p style="max-width:60%; margin:auto;">
                                "I have recommended All Hearts Together Nursing Care to several of my friends." - <i>Frank</i>
                                <br /><br /><br />
                            </p>
                            <br /><br />
                        </div>

                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
            <div style="text-align:center;">
                <p class="textSection" style="padding-top:0px;"> For more information on All Hearts Together Nursing Care Services, please click to visit our <a href="~/Services" style="font-weight:bold;"><u>Services & Stipulations Section</u></a>, or call now for a free quote <a href="tel:+16233005300" style="color: palevioletred;"><img src="~/Images/Phonepng.png" style="max-width:32px;" />(623) 300-5300</a>. All Active Dutys' Families, Veterans &amp; Dependents receive a 10% discount.</p>
                <img src="~/Images/Image3.jpeg" style="max-width:600px; width:100%;" />
            </div>
        </div>
    </div>
</div>

@*Text slide in*@
<script>
    $(document).ready(function () {
        $(".one")
            .css('display', 'block')
            .animate({ opacity: 1.0, left: '120px' }, 600);
        $(".two")
            .css('display', 'block')
            .delay(150).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".three")
            .css('display', 'block')
            .delay(300).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".four")
            .css('display', 'block')
            .delay(450).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".five")
            .css('display', 'block')
            .delay(700).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".six")
            .css('display', 'block')
            .delay(850).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".seven")
            .css('display', 'block')
            .delay(1000).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".eight")
            .css('display', 'block')
            .delay(1150).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".nine")
            .css('display', 'block')
            .delay(1300).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".ten")
            .css('display', 'block')
            .delay(1450).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".eleven")
            .css('display', 'block')
            .delay(1700).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".twelve")
            .css('display', 'block')
            .delay(1850).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".thirteen")
            .css('display', 'block')
            .delay(2000).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".fourteen")
            .css('display', 'block')
            .delay(2150).animate({ opacity: 1.0, left: '120px' }, 600);
    })

</script>