@{
    Page.Title = "Services & Stipulations";
    Layout = "~/_SiteLayout.cshtml";
}
<meta name="description" content="We know finding the perfect fit and nursing service for your home and convenience can be wearisome. Well, worry no more, All Hearts Together is here to assist in your recovery and home care needs!" />
<meta name="keywords" content="All Hearts Together Nursing Care LLC., Home Care Agency Phoenix, Private-Duty Nursing Avondale, Dedicated to adults and seniors Glendale, nursing Peoria, elder care Tolleson, exercise and nutrition Waddell, tube feeding West Valley, Diabetes Management North Valley, Catheter and Wound Care South Valley, Toileting and Incontinence Buckeye, transitional supervision Laveen, support and companion care El Mirage" />
<style>
    #body {
        font-size: 24px;
        background: linear-gradient(powderblue,cadetblue);
    }

        #body img {
            width: 100%;
            max-width: 64px;
        }

    .faq li {
        padding: 20px;
    }

        .faq li.q {
            background: #4FC2E;
            font-weight: bold;
            font-size: 120%;
            border-bottom: 1px #ddd solid;
            cursor: pointer;
        }

        .faq li.a {
            background: #3BB0D6;
            display: none;
            color: #fff;
        }

    .rotate {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>
<br />
<a name="Medication"></a><p class="textSection">
    With All Hearts Together Nursing Care, you will receive the care and home services that you desire in  the confidentially, comfort and convenience of your own place.
    All are care is planned and delivered with the emphasis always being  client-centered for their journey and safety.
    Compassion, quality, and having a heart to serve others with dignity, while offering independence to our clients is what our nurses and caregivers strive to obtain, and to win your heart.
    At All Hearts Together, adults and seniors will be offered services specifically and personally designed to assist them in recovery and transition processes at home.
    Check out our service listings and you will be amazed at our customer service and flexible hours.
</p>
<hr />
<ul class="faq">
    <li class="q">

        Medication Set-up, Education, Pick-up &amp; Refill services
    </li>
    <li class="a">
        Although our caregivers cannot administer medications, they can assist in ensuring that clients take their medication as prescribed.
        Our caregivers can help with opening medication containers, reading labels, and reminding the client when it is time for the next dose.
    </li>
    <li class="q">
        <a name="Personalized"></a>

        Personalized Bathing &amp; Grooming
    </li>
    <li class="a">
        All Hearts Togethers' goal is to assist our clients with their personal care routines so they can look and feel their best.
        Studies have proven how effective and positive it is for seniors to have regular hygiene and grooming.
        For clients who fear falling while bathing, or have physical or cognitive limitations that make bath-time difficult, our caregivers are there to help.
        We can assist with shampooing, shaving (with an electric shaver), hair combing and styling, and other grooming needs.
    </li>
    <li class="q">
        <a name="Skin"></a>

        Skin Health &amp; Hair Care
    </li>
    <li class="a">
        Paying particular attention to grooming can help a senior feel and look better.
        As a person ages, grooming can sometimes present physical challenges.
        Our caregivers assist clients with shampooing, shaving, hair combing and styling, and other grooming needs so seniors can look and feel their best.
    </li>
    <li class="q">
        <a name="Ostomy"></a>

        Ostomy &amp; Colostomy Management
    </li>
    <li class="a">
        Ostomy patients need knowledgeable and supportive nursing care to help them adjust to life with a stoma.
        With our one-on-one care and attention, patients receive the help they need to live comfortably at home.
    </li>
    <li class="q">
        <a name="Meal"></a>

        Meal Planning and Preparation
    </li>
    <li class="a">
        Maintaining a healthy, nutritious diet can impact well-being and vitality across the board.
        In fact, many of our seniors have prescribed meal plans they must stick to for health reasons.
        Whether you’re looking for help adhering to a special diet or just want to improve nutrition, our caregivers can help.
        They also provide companionship, turning meals into social time by engaging with seniors while they eat.
        The positive environment helps them feel more relaxed. Supervision also makes certain your loved ones get proper nourishment.

        Our caregivers help certain clients stay on prescribed diets to prevent or control a wide variety of medical conditions like heart disease, diabetes, and osteoporosis.
        Our caregivers also help clients eat nutritious menus to promote disease prevention, healing, and healthy living.
        We make an extra effort to turn meals into enjoyable social time by engaging our clients in conversation over food.
    </li>
    <li class="q">
        <a name="Injection"></a>

        Injection / Shot Teaching &amp; Therapy
    </li>
    <li class="a">
        Injections or shots are often the most intimidating aspect of even a standard doctor visit.
        Some individuals need injections on a daily basis to stay healthy and survive.
        However, going to the doctor every day is not only inconvenient, it can become incredibly expensive, and administering shots on your own can be an intimidating responsibility.
        With All Hearts Together, you or your loved ones do not have to worry about giving injections or paying for doctor’s appointments – our registered nurses and medical care providers can come to you!
    </li>

    <li class="q">
        <a name="Tube"></a>

        Tube Feeding
    </li>
    <li class="a">
        For patients who are not able to receive nutrients by mouth but do have functioning digestive tracts, Advanced Home Care offers enteral nutrition.
        This alternative method of nutrition support involves providing nutrition through a feeding tube that is placed into the stomach or intestine.
    </li>
    <li class="q">
        <a name="Diabetes"></a>

        Diabetes Management
    </li>
    <li class="a">
        All Hearts Together Nursing Care Services offers specialized diabetes care and education.
        The goal of diabetic management is to encourage patients to live as independently as possible while safely managing their own diabetic care.
        Our nurses, working with the patient's physician, provide support, education and assistance to diabetic patients and their families.
    </li>
    <li class="q">
        <a name="Catheter"></a>

        Catheter &amp; Wound Care
    </li>
    <li class="a">
        All Hearts Together Nursing Care Services clinicians are highly skilled in caring for and managing a large variety of wounds.
    </li>
    <li class="q">
        <a name="Toileting"></a>

        Toileting &amp; Incontinence
    </li>
    <li class="a">
        We understand the sensitive nature of toileting and incontinence care for our clients.
        Without proper help, seniors can face many issues. These may include skin infections, unpleasant odors, and general hygiene problems.
        Our caregivers offer compassionate, dignified help with these personal aspects of daily living.
    </li>
    <li class="q">
        <a name="Discharge"></a>

        Discharge / Transitional Supervision
    </li>
    <li class="a">
        Transitional care encompasses a broad range of services and environments designed to promote the safe and timely passage of patients between levels of health care and across care settings.
        High-quality transitional care is especially important for older adults with multiple chronic conditions and complex therapeutic regimens, as well as for their family caregivers.
        These patients typically receive care from many providers and move frequently within health care settings.
    </li>
    <li class="q">
        <a name="Support"></a>

        Support &amp; Companion Care
    </li>
    <li class="a">
        Companion care is primarily emotional support and companionship for seniors who are generally healthy and who want to remain independent at home.
        However, it can also include a range of non-medical services that help make a senior’s life more manageable.
        These services can include light housekeeping, assistance with activities of daily living (ADLs), medication reminders and more.
    </li>
    @*<li class="q">
        <a name="Couples"></a>
        Couples Care
    </li>
    <li class="a">

    </li>*@
</ul>


<a name="Stipulations"></a>
<h1 style="text-align:center;">Stipulations</h1>
<hr />
<ul>
    @*<li>
        Elderly Couple Care
        <ul>
            <li>
                * Couples to be billed at owner’s discretion person and acuity in care
            </li>
        </ul>
    </li>*@

    <li>
        Family Care
        <ul>
            <li>
                * Is Care for families experiencing illness like flu or food poisoning to aid recovery
            </li>
        </ul>
    </li>
    <li>
        Transportation
        <ul>
            <li>
                * Client to provide personal vehicle
            </li>
        </ul>
    </li>
    <li>
        Appointment Assistance
        <ul>
            <li>
                * Caregiver or Nurse to provide services and assist as needed on appointment date
            </li>
        </ul>
    </li>
    <li>
        Ostomy or Wound Care
        <ul>
            <li>
                * All supplies to be purchased by patient or family
            </li>
        </ul>
    </li>
    <li>
        Medications include oral tablets, capsules, sublingual’s injections, drops, powders, creams, topical, and inhalers
        <ul>
            <li>
                * Medication education to be provides as specified my client
            </li>
        </ul>
    </li>
    <li>Nurse Supervisor will always be available to call if concern comes up and is related to care or services rendered.</li>
    <li>All controlled substance pick up’s disbursement and administration are subject to company’s policies and procedures, physician’s changes to orders, availability, state and federal laws</li>
    <li>All Hearts Together Nursing Care, LLC cannot be made liable for information that was inadvertently omitted or forgotten.</li>
</ul>
<a name="Pricing"></a>
<h1 style="text-align:center;">Pricing</h1>
<hr />


<div style="max-width:100%;">
    <ul>
        <li>
            Free home safety checks with education and recommendations
        </li>
        <li>
            Nursing Services will be charged at $60 per/hr
            <ul>
                <li>*Time rounded to the nearest quarter hour</li>
            </ul>
        </li>
        <li>
            Caregiver Services will be charged at $30 per/hr and have oversight of a nurse
            <ul>
                <li>*Time rounded to the nearest quarter hour</li>
            </ul>
        </li>
    </ul>
    <p class="textSection" style="text-align:left;">It is advantageous to provide all completed medical, mental health, family concerns and Power of Attorney information to All Hearts Together Nursing Care during the initial interview with nurse</p>








</div>
<script>
    // Accordian Action
    var action = 'click';
    var speed = "500";


    $(document).ready(function () {

        // Question handler
        $('li.q').on(action, function () {

            // gets next element
            // opens .a of selected question
            $(this).next().slideToggle(speed)

                // selects all other answers and slides up any open answer
                .siblings('li.a').slideUp();

            // Grab img from clicked question
            var img = $(this).children('img');

            // remove Rotate class from all images except the active
            $('img').not(img).removeClass('rotate');

            // toggle rotate class
            img.toggleClass('rotate');

        });

    });
</script>